@font-face {
	font-family: "adwa-assalaf";
	src: url("/subset-adwa-assalaf.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "adwa-assalaf";
	src: url("/subset-adwa-assalaf-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

:root {
	font-family: "Cabin", "Scheherazade New", "adwa-assalaf", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--font-mono: "Fira Mono", monospace;
	--pure-white: #f7fbfc; //#f8f9f7;
	--primary-color: #defccc;
	--secondary-color: #efffe4;
	--tertiary-color: #edf0f8;
	--accent-color: #2f4515de;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: 17px;
	user-select: none;
	/* background: linear-gradient(
		  180deg,
		  var(--primary-color) 0%,
		  var(--secondary-color) 10.45%,
		  var(--tertiary-color) 41.35%
	  ); */
}

.rtl {
	// font-size: larger;
}

body::before {
	content: "";
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(50% 50% at 50% 50%,
			var(--pure-white) 0%,
			rgba(255, 255, 255, 0) 100%);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-weight: 800;
}

h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	margin: 1em 0em 0em 0em;
}

h2 {
	font-size: 1.75rem;
	margin: 0em 0em 1em 0em;

}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

@media only screen and (max-width: 600px) {
	pre {
		font-size: 14px;
	}
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}



/* s */

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* 
   */
/*  */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--pure-white);
}

main {
	overflow: hidden;
	color: #444;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
}

.spectators {
	text-align: center;
}

